*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 50px;

}

.image{
    border-radius: 50%;
    /*width: 10px;*/
}