<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <link rel="stylesheet" href="" th:href="@{/css/mystyle.css}" />
</head>
<body>
<div class="container">
    <h1>This is example of adding css and java script in thymeleaf (Spring boot)</h1>
    <p>
        hiiiiiiiiiiiiiiiiiiiiiiiii
    </p>
    <img src="" th:src="@{/images/logo.png}" class="image">
</div>
<script src="" th:src="@{/js/myjs.js}"></script>
</body>
</html>